
body {
	color: #3e494d;
}

/** NAVBAR **/

.fa-heart {
	font-color: #3e494d
}

.navbar-brand {
	font-family: Courier;
	font-weight: bolder;
	padding-left: 5px;
}

.nav-item {
	font-family: 'Fjalla One', sans-serif;
	background-color: #a7d3dc;
	font-weight: bolder;
	font-size: 16px;
	/*text-decoration: none; */
	/* Text Decoration didn't work here either*/
}



/** FIRST BLOCK - LIGHT BLUE BACKGROUND **/

.skyblock-font {
	font-family: Courier;
	color: white;
	font-size: 30px;
	line-height: 25px;
	font-weight: bold;
}

.skyblue {
	background-color: #a7d3dc;
}

.fa-circle {
	color: white;
	display: inline-block;
}

/*.fa-circle-thin {
	color: white;
	display: inline-block;*/
}
.fa-skyblue {
	color: white;
}

.img-fluid {
	max-height: 100px;
	padding-bottom: 5px;
}


#circles {
	display: inline-block;
}


/** SECOND BLOCK - WHITE BACKGROUND **/

h2 {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px
}

#sample-text {
	text-align: center;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 15px;
}



/** THIRD BLOCK - MINT GREEN BACKGROUND **/

.mint-green {
	background-color: #96d1a3;
}

.title {
	padding-top: 10px;
	font-family: Courier;
	color: white; 
	font-size: 35px;
	font-weight: bold;
}

.sample-text-white {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: white;
	font-weight: normal;
}

.portfolio-navabr {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	text-align: center;
	}

.nav-item-portfolio {
	color: white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;

}

.btn-sm {
	font-size: 10px;
	padding: 10px;
	color: grey;
	text-align: center;
}

.img-fluid-mint {
	max-height: 200px;
}

.btn-portfolio {
	font-size: 10px;
	padding: 6px;
	margin-bottom: 30px;
}



/** FOURTH BLOCK - LIGHT GREY BACKGROUND **/

.light-grey {
	background-color: #f0f0f0;
}

h3 {
	color: black;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
}

#template-font {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: black;
	font-weight: normal;
}

.btn-template-mint {
	background-color: #96d1a3;
	color: white;
}

.btn-template-blue {
	background-color: #a7d3dc;
	color: white;
}

.pst-green {
	padding-right: 10px;
}

.pst-blue {
	padding-right: 40px;
}



/** FIFTH BLOCK - PALE PINK BACKGROUND **/

.pale-pink {
	background-color: #e0b7c7;
}

.meet-our-team-title {
	padding-top: 15px;
	font-family: Courier;
	color: white; 
	font-size: 35px;
	font-weight: bold;
}

.profilelight {
	background-color: #e4e6e7;
}

.box-width {
	max-width: 260px;
}

.name {
	font-size: 20px;
	font-family: 'Bree', serif;
	font-weight: bold;
}

h4 {
	font-size: 10px;
}

#john-smith-bio {
	font-family: 'Dosis', sans-serif;
	font-size: 10px;
	color: black;
}

/* SOCIAL MEDIA ICONS*/
/* Facebook Icon*/

.facebook-dot {
	height: 20px;
	width: 20px;
	background-color: #2a46a9;
	border-radius: 50%;
	display: inline-block;
}

.fa-facebook {
	color: white;
}

/* Twitter Icon */

.twitter-dot {
	height: 20px;
	width: 20px;
	background-color: #2ba2e9;
	border-radius: 50%;
	display: inline-block;
}

.fa-twitter {
	color: white;
}

/* Pinterest Icon */

.pinterest-dot {
	height: 20px;
	width: 20px;
	background-color: #b61b38;
	border-radius: 50%;
	display: inline-block;
}

.fa-pinterest-p {
	color: white;
}



/** SIXTH BLOCK - SKY BLUE BACKGROUND **/

#blog-post-title {
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	font-size: 16px;
}

#blog-date {
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	color: black;
}

.btn-template-grey {
	background-color: #f0f0f0;
	color: #a7d3dc;
}

.box-width-p {
	max-width: 250px;
}


/** LAST BLOCK - DARKGREY BACKGROUND **/

.darkgrey {
	background-color: #3c3c3c;
}

.input-group-size {
	max-width: 500px;
}

.btn-template-darkgrey {
	background-color: #f0f0f0;
	color: #3c3c3c;
}

#hr2 {
   border-top: 1px solid #363636;
   border-bottom: 1px solid #363636;
}

/* SOCIAL MEDIA ICONS*/
/* Facebook Icon*/

.facebook-dot-grey {
	height: 20px;
	width: 20px;
	background-color: #535353;
	border-radius: 50%;
	display: inline-block;
}

.fa-facebook {
	color: #3c3c3c;
}

/* Twitter Icon */

.twitter-dot-grey {
	height: 20px;
	width: 20px;
	background-color: #535353;
	border-radius: 50%;
	display: inline-block;
}

.fa-twitter {
	color: #3c3c3c;
}

/* Pinterest Icon */

.pinterest-dot-grey {
	height: 20px;
	width: 20px;
	background-color: #535353;
	border-radius: 50%;
	display: inline-block;
}

.fa-pinterest-p {
	color: #3c3c3c;
}

#footer-text-tan {
	color: #8d8570;
	font-family: 'Fjalla One', sans-serif;
	font-size: 10px;
}

.fa-copyright {
	color: #808080;
	font-size: 10px;
}

#footer-text-grey {
	color: #808080;
	font-family: 'Fjalla One', sans-serif;
	font-size: 10px;
}

#bar {
	color: #808080;
	font-size: 10px;
	font-weight: bolder;
}

